
.card{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    max-width: 23.75rem;
    padding: 2rem 1rem;
    background-color: var(--white-);
    box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.060); 
    border-radius: 8px;
}
.iconPath{
    max-width: 2rem;
    

}
.title{
    color: var(--black-);
    font-size: 1.5rem;
    font-weight: 500;
}
.text{
    color: var(--black-opacity-);
    font-size: 1rem;
    font-weight: 500;
}