.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 1.5rem;
    max-width: 75rem;
    margin: 0 auto;
}
.nav{
   
    display: flex;
    gap: 2.813rem;
}
.nav a{
    text-decoration: none;
    font-weight: 500;
    color: var(--black-);
    transition: all 500ms;

}

.nav a:hover{
    color: var(--black-opacity-);


}

@media (max-width: 700px) {
    .nav {
      display: none;
    }
  }
