.container {
  margin-top: 8rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 1rem;
}

.contentHome {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
.contentText {
  display: flex;
  flex-direction: column;
  max-width: 36.875rem;
  width: 100%;
  gap: 1.5rem;
}

.tag {
  width: fit-content;
  background-color: var(--gray-100-);
  padding: 0.5rem;
  border-radius: 4px;
  animation: fadeIn forwards;
  opacity: 0;
  animation-duration: 1.5s;
  animation-delay: 400ms;
}
.tag h3 {
  font-size: 1rem;
  font-weight: 600;
  color: var(--blue-800-);
}
.title {
  font-size: 4rem;
  font-weight: 600;
  animation: fadeIn;
  animation-duration: 1.5s;
}
.text {
  color: var(--black-opacity-);
  line-height: 2;
  font-weight: 500;
  animation: fadeIn forwards;
  opacity: 0;
  animation-duration: 1.5s;
  animation-delay: 500ms;
}
.buttonBox {
  display: flex;
  gap: 24px;
  animation: fadeIn forwards;
  opacity: 0;
  animation-duration: 1.5s;
  animation-delay: 800ms;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateX(-30px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

/* .img1{
    width: 100%;
} */

@media (max-width: 780px) {
    .img1 {
      display: none;
    }
    .container{
      padding: 0 1rem;
    }
  }
  @media (max-width: 1350px) {
    .img1 {
      
      
    }
   
  }