/* .pageContainer{
  display: flex;
  flex-direction: column;
  gap: 100px;
  border: 1px solid red;
} */
.container {
  max-width: 90rem;
  width: 100%;
  margin: 0 auto;
  /* display: flex;
    flex-direction: column;
    gap: 2rem */
}

.cardsContainer {
  display: flex;
  flex-wrap: wrap;
  /* grid-template-columns: 23.75rem 23.75rem 23.75rem; */
  align-items: center;
  justify-content: center;
  /* place-items: center; */
  gap: 1.5rem;
}

/* .banner{
  display: flex;
 
  background-color: var(--blue-800-);
  
}
.banner h3{
  color: var(--white-);
} */